body {
  padding-top: 70px;
}

text-center {
  text-align: center;
}

@media(max-width: 480px) {
  h1 {
    font-size: 18px;
  }
}

@media(min-width: 480px) and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
}

@media(min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 36px;
  }
}

@media(min-width: 992px) {
  h1 {
    font-size: 42px;
  }
}