body {
    padding-top: 70px;
}

.strong {
	font-weight: bold;
}

.nps {
    display: none !important;
}

@media print {
    .np {
        display: none !important;
    }

    .nps {
        display: block !important;
    }
}