.site-name {
  font-weight: bold;
}

.justify {
  text-align: justify;

}

h2 {

  a {
    color: inherit;
  }

}

.read-more {
  font-weight: bold;
  float: right;
}

.adsection {
  padding-top: 15px;
}
